body
{
    background-color: #222222;
    color: #CCCCCC;
}

a
{
    color: #AAAAAA;
}
a:hover
{
    text-decoration: none;
}

table, th, td
{
    border: 1px solid black;
    border-collapse: collapse;
}