{% extends "layout.html" %}

{% block title %}
  Game
{% endblock %}

{% block includes %}
  <link rel="stylesheet" href="/static/css/chessboard-1.0.0.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha384-ZvpUoO/+PpLXR1lu4jmpXWu80pZlYUAfxl5NsBMWOEPSjUn/6Z/hRTt8+pR6L4N2"
        crossorigin="anonymous"></script>
  <script src="/static/js/chessboard-1.0.0.min.js"></script>
<script src="/static/js/chess.js"></script>
{% endblock %}

{% block main %}
  <div id="player1"></div><br>
  <div id="board" style="width: 500px"></div><br>
  <div id="player2"></div><br>
  <div id="captured"></div>

  <script>
    const GAME_ID = {{ game_data.id }}
    const PGN = '{{ game_data.pgn | safe }}'
    const PLAYER_WHITE = "{{ game_data.player_white_name }}"
    const PLAYER_BLACK = "{{ game_data.player_black_name }}"
    const USER_COLOR = "{{ game_data.my_color }}"
  </script>
  <script src="/static/js/play_chess.js"></script>
{% endblock %}