<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ChessCorPy | {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="shortcut icon" href="/static/favicon.ico">
    {% block includes %}{% endblock %}
</head>
<body>
    <center>
        <div>
            {% if session.user_id %}
                <a href="/">Home</a> |
                <a href="/mygames">My Active Games</a> |
                <a href="/opengames">Lobby</a> |
                <a href="/logout">Logout</a>
            {% else %}
                <a href="/login">Login</a> |
                <a href="/register">Register</a>
            {% endif %}
        </div>
        <br>
        {% block main %}{% endblock %}
    </center>
</body>
</html>