{% extends "layout.html" %}

{% block title %}
    Open Games
{% endblock %}

{% block main %}
    <h1>Open Game Requests</h1>
    <table>
        <tr>
            <td><b>Challenger</b></td>
            <td><b>Challenger Rating</b></td>
            <td><b>Challenger Color</b></td>
            <td><b>Turn Limit</b></td>
            <td><b>Challenge Issued</b></td>
            <td><b>Accept Challenge?</b></td>
        </tr>
    {% for game in games %}
        <tr>
            <td>{{ game.username }}</td>
            <td>{{ game.rating }}</td>
            <td>{{ game.color }}</td>
            <td>{{ game.turn_day_limit }}</td>
            <td>{{ game.timestamp }}</td>
            <td><a href="/start?id={{ game.id }}">Accept</a></td>
        </tr>
    {% endfor %}
    </table>
    <br>
    <a href="/opengames">View Public Requests</a> | <a href="/opengames?direct=true">View Direct Requests</a> |
    <a href="/newgame">Create Challenge</a> | <a href="/logout">Logout</a>
{% endblock %}
